@import url(https://fonts.googleapis.com/css?family=Pontano+Sans);
@font-face {
    font-family: "Pontano Sans";
    src: "../fonts/PontanoSans-Regular.ttf";
}

/*Style sheet for index.html*/

/*Variables------------------------------------------------------------------------*/
:root{
	--sky-blue: #afb3d0;
	--dark-blue: #3a3d5f;
}

html {
	scroll-behavior: smooth;
}

/*Text-----------------------------------------------------------------------------*/
body {	
	font-family: "Pontano Sans";
	font-size: 2.8vh;
	color: #000000;
	margin: 0; 
}

header {	
	text-align: center;
	font-size:1.2em;
	color: #FFFFFF; 
	margin-bottom: 4vh; 
}
		
h1 {	
	font-size: 2.8em;
	margin-block-end: 1vw;
	color: #FFFFFF; 
	text-transform: uppercase;
}

h2 {	font-size: 1.7em;
		text-align: left;
		margin-top:0;}

h3 {
	font-size: 1.2em;
	color:var(--sky-blue);
	font-weight:normal;
	margin-block-start: 1vh;
	margin-block-end: 0vh;
}
		
h4 {	
	font-size: 1em;
	color: var(--sky-blue);
	padding-top: 0px;
	padding-bottom: 0px;
	margin-block-start: 0vh;
	margin-block-end: 0vh;
	text-transform: uppercase; 
}

p {	
	margin-block-start: 0;
	margin-block-end: 4vh;	
}

/*Generic containers-------------------------------------------------------------------------------*/
div.wrapper {	
	width: 100%;
	max-width: 100%;	
}

div.section_wrapper {	
	width: 70%;
	max-width: 80%;	
	text-align: center;
	margin-left: auto; 
	margin-right: auto;
	padding-top: 12vh; 
	padding-bottom: 12vh;
	height:auto;
	overflow:auto;
}

div.section_break {
	max-width:100%;
	width:100%;
	height:12vh;
	/* background-attachment: fixed;  */
	background-position: 20%;
	background-repeat: no-repeat;
	background-size: cover; 
	position: relative; 
}

div.bottom_border {
	border-bottom: 3px solid white;

}

/* div.row {

}
div.column {
	float:left;
	width:33%;

}
div.card {
	background-color:grey;
} */

div.video_container {
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
	position: relative;
}
iframe.video_embed {
	width: 100%;
	height: 100%;
	position: absolute;
}




/*Generic components--------------------------------------------------------------------------------*/

/*buttons*/
div.button {	
	display: inline-block;
	cursor: pointer;
	padding-left: 10px;
	padding-right: 10px; 
	padding-top: 5px;
	padding-bottom: 5px;
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;	
}
div.button h4 {
	color: white; }
div.button:hover {	
	background-color: white; }
div.button:hover > h4 {	
	color: #a4a7ae; }


/*Drawer-type lists with display windows to the right*/
div.side_list {
	float: left;
}
div.list_item {
	padding-bottom: 2vh;
	text-align:left;
}
div.list_item h4 { 
	font-size: 0.95em;
}
div.list_item:hover {
	cursor: pointer;
}
div.list_item:hover h3 {
	color: black;
	font-weight: bold;
}
div.list_item:hover h4 {
	color: black;
	font-weight: bold;
}
div.list_item.selected h3 {
	color: black;
	font-weight: bold;
}
div.list_item.selected h4 {
	color: black;
	font-weight: bold;
}

div.item_display {
	float: left;
	text-align:left;
}



/* Tables */
table {
	margin-left:auto;
	margin-right:auto;
}
td {
	padding-right:4vw;
	text-align:left;
}
td.left_column{
	text-align:right;
	vertical-align:top;
}

					
/*Links*/
a {
	color: var(--dark-blue);
}

a.intext { 
	text-decoration:none;
	color:black;
	box-shadow:
    	inset 0 -0.15em white,
    	inset 0 -0.4em #FF9D8B;
	display: inline;
}
a.intext:hover{ 
	font-weight:bold;
	box-shadow:
    	inset 0 -0.15em white,
    	inset 0 -0.4em rgb(235, 96, 71);
}
a.intext:visited{
	color: grey;
}
					
/*Images*/	
img {	
	max-width: 100%; 
}

img.multiple {
	float: left;
	padding-right: 2%;
	padding-bottom: 3vh;
}


/*Page elements----------------------------------------------------------------------------------------------*/

/*Menu*/ 
#sidebar{
	position: fixed;
	z-index:100; 
	right:0;
	text-align:right;
	padding-right:1em;
	padding-top:1em; 
}

div.button.menu_button {
	background-color: var(--sky-blue); 
	border-style:none; }
div.button.menu_button:hover {
	background-color: white;	}
div.button.menu_button:hover >h4 {
	color: var(--sky-blue);	}

#nav_menu { 
	height: 0; /*changes with JS */
	overflow-y: hidden;
	transition: height 0.2s ease-out;
	text-align:right; 
}
div.button.menu_button.option {
	float:right;
	clear:both;
	margin-top:0.2em; 
}


/* Header */
#titleblock { 
	height: 700px;	
	background-image: url("../images/porch-3.jpg");
	text-align: center;
}
#titleblock p {
	text-transform: uppercase;
	margin-block-start: 3vh;
	margin-block-end: 1vh;
}

#foreground {	
	position: absolute;
	width: 50%;
	min-width: 60vh;
	max-width: 70vh;
	margin: 0 auto;
	/* padding-bottom: 5vh;
	padding-left: 2vh;
	padding-right: 2vh; */
	top: 50%;
	left: 50%;
	/* background: #00000063; */
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}


/*About me*/
#aboutme_para {
	display:inline-block;
	vertical-align:top;
	width:30vw;
	max-width: 400px;
	padding-top: 4vw;
	padding-right: 6vw;
	text-align: left;
}
#aboutme_image {
	display:inline-block;
	width: 30vw;
	max-width: 350px;
}


/* Break 1 */
#break_1{
	background-image: url("../images/yellow_flowers.jpg");
}


/* Experience */
#experience_list {
	width: 40%;
}
#experience_display {
	width:60%;
}

/* may be better to hide these by default and display the important one on init*/
#PlanGrid_content {
	display: none;
}
#CIBC_content {
	display: none;
}


/* Break 2 */
#break_2{
	background-image: url("../images/tree-cropped.jpg");
}


/* Break 3 */
#break_3{
	background-image: url("../images/bike.jpg");
}


/*Life*/
#life_list {
	width: 15%;
}
#life_list h3 {
	margin-block-start: 0vh;
}
#life_display {
	width:85%;
}

#music_img {
	width: 48%;
}
#art_content {
	display: none;
}
#more_content {
	display: none;
}
#more_img {
	width: 31%;
}


/* Break 4 */
#break_4 {
	background-image: url("../images/whiteflower_sky.jpg");
}

/*Skills*/
#skill_name {
	display:inline-block;
	vertical-align:top;
	font-weight:bold;
}


/*Page footer*/
#footer{
	background-color:var(--dark-blue);
	padding:5%;
	text-align:center;
	margin:0 auto;
}
#footer h2 {
	color:white;
	text-align: center;
	font-size: 7vh;
	margin-block-end: 3vh;
}
#footer p {
	color:white;
	margin-block-end: 4vh;
}

img.logo {
	display:inline-block;
	width:40px;
	margin-top:10px;
	margin-right:10px;
}

#footer a.intext { 
	box-shadow:
    	inset 0 -0.15em var(--dark-blue),
    	inset 0 -0.4em #FF9D8B;
	display: inline;
}
#footer a.intext:hover{ 
	box-shadow:
		inset 0 -0.15em var(--dark-blue),
		inset 0 -0.4em rgb(235, 96, 71);
}
#footer a.intext:visited {
	color: lightgrey;
}


/*Media queries  - override properties on mobile ---------------------------------------------*/

/* Mobile in general */
@media only screen and (max-device-width: 1366px) {
	body {
		font-size: 20px;
	}
	h1 {
		font-size:2.5em;
	}
	div.section_break {
	  background-attachment: scroll;
	  height: 50px;
	}
	#foreground {
		width: 80%;
		min-width: 0;
		max-width: none;
	}
	#aboutme_para {
		padding-top:0;
	}
}

/* Mobile landscape */
@media only screen and (max-device-width: 1366px) and (orientation: landscape){
	h1 {
		font-size:2em;
	}
	#titleblock {
		max-height: 100vh;
	}
}

/* Mobile portrait */
@media only screen and (max-device-width: 1360px) and (orientation: portrait){
	div.button.menu_button.option {
		float:none;
		clear:none;
		margin-top:0.2em; 
	}

	div.section_wrapper {	
		width: 80%;
		max-width: 80%;	
		text-align: center;
		margin-left: auto; 
		margin-right: auto;
		padding-top: 4vh; 
		padding-bottom: 4vh;
	}

	#footer {
		padding-top: 4vh; 
		padding-bottom: 4vh;
	}
	
}

/* Mobile portrait- excluding most tablets*/
@media only screen and (max-device-width: 700px) and (orientation: portrait){
	img.multiple {
		display: block;
		float: none;
		margin: 0 auto; 
		padding-right: none;
	}
	#aboutme_para {
		display:block;
		width:100%;
		padding-right: none;
	}
	#aboutme_image {
		display:block;
		width: 100%;
	}

	#life_list {
		display:block;
		float:none;
		padding-bottom: 2vh;
	}
	#life_display {
		width: 100%;
	}

	#music_img {
		width: 85%;
	}
	#more_img {
		width: 85%;
	}
}

@viewport {
	width: device-width ;
	zoom: 1.0 ;
}