@import url(https://fonts.googleapis.com/css?family=Pontano+Sans);

@font-face {
    font-family: "Pontano Sans";
    src: "../fonts/PontanoSans-Regular.ttf";
}

/*Style sheet for index.html*/

/************************************************************************************************************************/
/*High-level, text -------------------------------------------------------------------------------*/
/************************************************************************************************************************/

:root{
	--sky-blue: #979aaf; /*#afb3d0;*/
	--dark-blue: #363857;
	--light-blue: #c5c8e0;
	--flower-yellow: #f3a704;
	--light-yellow: #fad075;
	--pink: #FF9D8B;
	--dark-pink: rgb(235, 96, 71);
}

html {
	scroll-behavior: smooth;
}

/*Text-----------------------------------------------------------------------------*/
body {	
	font-family: "Pontano Sans", Arial;
	font-size: 2.8vh;
	color: #000000;
	margin: 0; 
}

header {	
	text-align: center;
	font-size:1.2em;
	color: #FFFFFF; 
	margin-bottom: 4vh; 
}
		
h1 {	
	font-size: 2.8em;
	margin-bottom: 1vw;
	color: #FFFFFF; 
	text-transform: uppercase;
}

h2 {	font-size: 1.7em;
		text-align: left;
		margin-top:0;
		color: black;
	}

h3 {
	font-size: 1.2em;
	color:black;
	font-weight:bold;
	margin-top: 0vh;
	margin-bottom: 0.2em;
}
		
h4 {	
	font-size: 1em;
	color: var(--sky-blue);
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0vh;
	margin-bottom: 0vh;
	text-transform: uppercase; 
}

h5 {
	font-size: 1em;
	margin-bottom: 0.5em;
}

p {	
	margin-top: 0;
	margin-bottom: 4vh;	
}

/************************************************************************************************************************/
/*Generic containers-----------------------------------------------------------------------------------------------------------*/
/************************************************************************************************************************/

/* Wrapper for whole page ----------------------------------------------------------------------------*/
div.wrapper {	
	width: 100%;
	max-width: 100%;	
}

/* Wrapper for individual sections -----------------------------------------------------------------------*/
div.section_wrapper {	
	width: 70%;
	max-width: 80%;	
	text-align: center;
	margin: 0 auto;
	padding-top: 12vh; 
	padding-bottom: 8vh;
	height:auto;
	overflow:auto;
}

/* Settings for sections with blue backgrounds --------------------------------------------------------*/
div.blue_background {
	background: rgb(54, 56, 87); 	/* fallback for stupid IE */
	background-color: var(--dark-blue);}
div.blue_background p, div.blue_background h2 {
	color: white;}
div.blue_background h3, div.blue_background h4 {
	color: rgb(197, 200, 224);/* fallback for stupid IE */
	color: var(--light-blue); }
div.blue_background li {
	color: white;}

 
div.section_break {
	width:100%;
	height:12vh;
	background-position: 20%;
	background-repeat: no-repeat;
	background-size: cover; 
	position: relative; 
}

/*
div.section_break_solid {
	width:100%;
	height:1vh;
	background-color: var(--light-blue);
	display: none;
} */

/* Container with a nice line along the bottom ------------------------------------------------*/
div.souslined {
	border-bottom: 3px solid white;
}

/* div.column {
	float: left;
	width: 47.5%;
	text-align: left;
	margin-left: 5%;
}
div.column.first {
	margin-left: 0;
} */


/* div.video_container {
	width: 100%;
	max-width: 35em;
	margin: 0 auto;
	height: 0;
	padding-bottom: 56.25%;
	position: relative;
}
iframe.video_embed {
	width: 100%;
	height: 100%;
	position: absolute;
} 
*/

/* Iframe for the instagram widget -----------------*/
iframe.snapwidget-widget {
	border:none; 
	overflow:hidden;  
	width:100%;
	max-width: 35em;
	margin: 0 auto;
	display: block;
}


/************************************************************************************************************************/
/*Generic components----------------------------------------------------------------------------------------------------*/
/************************************************************************************************************************/

/*buttons------------------------------------------------------------------------------------------*/
div.button {	
	display: inline-block;
	cursor: pointer;
	padding-left: 10px;
	padding-right: 10px; 
	padding-top: 5px;
	padding-bottom: 5px;
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;	
}
div.button h4 {
	color: white; }
div.button:hover {	
	background-color: white; }
div.button:hover > h4 {	
	color: #a4a7ae; }


/*Selection lists with display windows to the right--------------------------------------------------*/
div.side_list {
	float: left;
	position: relative;
}
div.side_list::after { /* forms right border / timeline */
	content: '';
	position: absolute;
	width: 4px;
	background-color: var(--light-blue);
	top: 0;
	bottom: 0;
	left: 100%;
	margin-left: -2px;
}

div.list_item {
	padding-bottom: 0.75em;
	padding-right: 4vh;
	text-align:left;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 85% 50%;
	position: relative;
	left: 0;
}
div.list_item h3 {
	color: var(--light-blue);
	font-weight: normal;
}
div.list_item h4 { 
	font-size: 0.8em; 
	color: var(--light-blue);
}
div.list_item::after { /* points on timeline */
	content: '';
	position: absolute;
	width: 20px;
	height: 20px;
	right: -10px;
	background-color:var(--light-blue);
	top: 20%;
	border-radius: 50%;
	z-index: 1;
}

div.list_item:hover {
	cursor: pointer; 
	margin-left: 0.2em; 
	/*is this gucci? wanted to better show hover/selection considering the only difference before was bolding the text */
}
div.list_item:hover h3 {
	font-weight: bold; 
	/* font-size: 1.3em;  */
}
div.list_item:hover h4 {
	font-weight: bold; 
	/* font-size: 0.9em; */
}
div.list_item:hover::after {
	background-color:var(--light-yellow);
	width: 25px;
	height: 25px;
	right: -12.5px;
}

div.list_item.selected {
	margin-left: 0.2em;
}
div.list_item.selected h3 {
	color: white;
	font-weight: bold; 
	/* font-size: 1.4em; */
}
div.list_item.selected h4 {
	color: white;
	font-weight: bold; }
div.list_item.selected::after {
	background-color:var(--flower-yellow);
	width: 25px;
	height: 25px;
	right: -12.5px;
}

div.display {
	float: left;
	text-align:left;
}
div.display_item {
	display: none;
}

/* Mobile-only: Indicator for what item on list is being shown */
div.page_indicator {
	height: 1.5em;
	text-align: left;
	padding-top: 0.5em;
	margin-bottom: 0em;
	display: none; /* only for mobile, see media queries */
}

div.circle { /* for the page indicator*/
	vertical-align: top;
	cursor: pointer;
    height: 12px;
    width: 12px;
	margin-right: 8vw;
    background-color: var(--light-blue);
    border-radius: 50%;
    display: inline-block;
}

div.circle.selected {
	background-color: var(--flower-yellow); }



/* Cards -----------------------------------------------------------------------------------------*/

div.card {
	width: 47%;
	text-align: left;
	padding-bottom: 1em;
	margin-bottom: 1em;
	padding-top: 1em;
	min-height: 2em;
	box-shadow: 0px 3px 8px 0px rgb(197, 200, 224) ; /*IE*/
	box-shadow: 0px 3px 8px 0px var(--light-blue);
	min-height: 6em;
	display: block;
	overflow: hidden;
	float: left;
}
div.card p {
	margin-bottom: 0; }
div.card img {
	margin-bottom: 0;}

div.card.left {
	float: left;
	margin-left: 1%;
	margin-right: 3%;
	clear: both;
}
div.card.right {
	float: right;
	margin-right: 1%;
}

div.card:hover {
	transform: translateY(-8px);
	transition: transform 0.25s ease-out;
	cursor: pointer;
}
div.card_content {
	position: relative;
	height: auto;
	float: left;
}
div.card_img {
	max-width: 30%;
	margin-left: 4%;
	margin-right: 4%;
	display: block;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
div.card_text {
	width: 58%;
	margin-right: 4%;
	float: right;
	display: block;
}



/* Modal --------------------------------------------------------------------------------------*/
div.modal {
	z-index: 400;
	width: 50%;
	height: 70vh;
	transition: height 0.3s ease-in;

	margin: 5vh 20% 5vh 20%;
	padding: 5%;

	position: fixed;
	background-color: white; 
	display: none;

	overflow-y: auto;

	/* -ms-overflow-style: none; */

}
/* div.modal::-webkit-scrollbar {
	display: none;
} */
div.modal h4 {
	margin-bottom: 0.8em;
}
div.modal p {
	margin-top: 1em;
}

div.x_button_container {
	float: right;
}
div.x_button {
	text-align: right;
	margin-top: -4vh;
	margin-right: -100%;
	margin-bottom: -1em;
	cursor: pointer;
	/* position: fixed; should it be? will it be annoying? */
	background-color: white;
	padding: 50%;

}
div.x_button h4 {
	margin: 0;
}
div.page_overlay {
	background-color: rgba(0,0,0,0.4);
	width: 100%;
	height: 100%;
	z-index: 300;
	position: fixed;
	display: none;
	transition: opacity 1s ease-in;
}


/* Tables------------------------------------------------------------------------------------ */
table {
	margin-left:auto;
	margin-right:auto;
	width: 100%;
}
 
td {
	padding-bottom: 1em;
	text-align:left;
}
td.wide{
	width: 65%;
	vertical-align:center;
}
td.narrow {
	width: 30%;
}
td.buffer {
	width: 5%;
	padding: 0;
}


td.right {
	text-align: right; 
	vertical-align: top;
	padding-right: 1.5em;
}

					
/*Links----------------------------------------------------------------------------------------------------------*/
/* a {
	color: var(--dark-blue); } */

a.intext { 
	text-decoration: underline;
	/* text-decoration-color:var(--flower-yellow); */
	color: inherit;
	/* color: rgb(80, 127, 255); */
	/* box-shadow:
    	inset 0 -0.15em white,
    	inset 0 -0.4em var(--pink);
	display: inline; */
}
a.intext:hover{ 
	font-weight:bold;
	/*	box-shadow:
    	inset 0 -0.15em white,
		inset 0 -0.4em var(--dark-pink); */
}
/* a.intext:visited{
	color: grey;
} */
	

/*Images---------------------------------------------------------------------------------------------*/	
img {	
	max-width: 100%; 
	margin-bottom: 1em;
}

img.side_by_side {
	float: left;
	padding-right: 2%;
	padding-bottom: 3vh; 
}
img.side_by_side.half {
	width: 48%; 
}
img.side_by_side.third {
		width: 31%;
}

img.single {
	display:block;
	margin: 0 auto;
	margin-bottom: 1em;
	max-width: 20vw;
}
img.single.small {
	width: 20vw;
	max-width: 350px;
}
img.single.wide {
	width: 40vw;
	max-width: 700px;
}



/* Lists --------------------------------------------------------------------------------------------------*/
ul {
	list-style-type: none;
	margin-left: 0em;
	/* margin-top: -0.5em; */
	padding-left: 2em;
	margin-bottom: 1.5em;
}
li {
	margin-bottom: 0.3em;
	clear: both;
}
li:before { 
	content: "\00a0 \00a0 \00a0 -";
	display: inline-block;
	width: 2em;
	margin-left: -2em;
}


/***************************************************************************************************************************/
/*Page elements-------------------------------------------------------------------------------------------------------------*/
/**************************************************************************************************************************/

/*Menu------------------------------------------------------------------------------------*/ 
#sidebar{
	position: fixed;
	z-index:100; 
	right:0;
	text-align:right;
	padding-right:1em;
	padding-top:1em; 
}

div.button.menu_button {
	background-color: #979aaf;
	background-color: var(--sky-blue); 
	border-style:none; }
div.button.menu_button:hover {
	background-color: white;	}
div.button.menu_button:hover >h4 {
	color: var(--sky-blue);	}

#nav_menu {  /* actual nav menu element*/
	height: 0; /*changes with JS */
	max-height: 0vh; /* also changes with JS to enable transition on hardcoded val*/
	transition: max-height 0.3s ease-out;

	overflow-y: hidden;
	text-align: right; 
}
div.button.menu_button.option {
	float:right;
	clear:both;
	margin-top:0.2em; 
}


/* Header ------------------------------------------------------------------------*/
#titleblock { 
	height: 95vh;	
	background-image: url("../images/porch-3.jpg");
	background-attachment: fixed;
	text-align: center;
	clip-path: polygon(0% 0%, 100% 0%, 100% 96%, 52% 96%, 50% 100%, 48% 96%, 0% 96%);
}
#titleblock p {
	text-transform: uppercase;
	margin-top: 3vh;
	margin-bottom: 1vh;
}

#title_overlay {
	position: absolute;
	display: block;
	width: 100%;
	height: 95vh;
	background-color: rgba(0,0,0,0.2);
	z-index: 2; 
}

#foreground {	
	position: absolute;
	width: 50%;
	min-width: 60vh;
	margin: 0 auto;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}


/*About me-------------------------------------------------------------------------------------------------*/

#about {
	vertical-align: center;
	position: relative;
	min-height: 18em; /* prevent collapse on really short screens (e.g. mobile on side)*/
}
#aboutme_para {
	display: block;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	float: left;
	margin: auto 0;

	width:30vw;
	max-width: 400px;

	padding-right: 6vw;
	text-align: left;
}
#aboutme_image {
	width: 30vw;
	max-width: 350px;
	right: 0;
	float: right;
}



/* Break 1 */
/* #break_1{
	background-image: url("../images/yellow_flowers.jpg");
} */


/* Experience ------------------------------------------------------------------------------------*/
#experience_section {
	text-align: left; }

#experience_list {
	width: 32%;	
	margin-right: 5%; }

#experience_display {
	padding-top: 0.5em; 
	padding-left: 5%;
	border-width: 4px; 
	border-color: var(--light-blue);
	width:55%; 
}

#camp_img {
	display: block;
	width: 45%;
	height: auto;
	margin: 0 auto;
}


/* Break 2 */
/* #break_2{
	background-image: url("../images/tree-cropped.jpg");
} */


/* Projects ----------------------------------------------------------------------------------*/


/* Break 3 */
/* #break_3{
	background-image: url("../images/bike.jpg");
} */


/*Skills-------------------------------------------------------------------------------------*/



/*Life------------------------------------------------------------------------------------------*/

#life h3 {
	margin-bottom: 0.5em; }


/* Break 4 */
/* #break_4 {
	background-image: url("../images/whiteflower_sky.jpg");
} */



/*Page footer---------------------------------------------------------------------------------*/
#footer{
	padding:5%;
	text-align:center;
	margin:0 auto;
}
#footer h2 {
	text-align: center;
	font-size: 7vh;
	margin-bottom: 3vh;
}
#footer p {
	margin-bottom: 4vh;
}

img.logo {
	display:inline-block;
	width:40px;
	margin-top:10px;
	margin-right:10px;
}
img.logo:hover {
	transform: translateY(-4px);
	transition: transform 0.2s ease-out;
}

/***********************************************************************************************************/
/*Media queries  - override properties on mobile --------------------------------------------------------*/
/***********************************************************************************************************/

/* Mobile in general */
@media only screen and (max-device-width: 1366px) {
	body {
		font-size: 20px;	}
	h1 {
		font-size:2.5em;	}

	div.x_button_container {
		margin-right: 5%;
	}
	div.x_button {
		margin-top: -3vh;
		margin-bottom: 0%;
	}
	a.intext.selected {
		margin-left: 0;
	}

	#foreground {
		width: 80%;
		min-width: 0;
		max-width: 70vh;
}

	#aboutme_para {
		padding-top:0;
	}
}

/* Mobile - excluding most tablets */
@media only screen and (max-device-width: 850px){
	div.button.menu_button.option { 
		/*show menu buttons across the top so they don't cover content*/
		float:none;
		clear:none;
		margin-top:0.2em; 
	}
	
	div.side_list, #experience_list {
		width: 94%; 
		display: flex;
		overflow-x: auto;

		/*Firefox, Edge and friends*/
		scroll-snap-type: mandatory;
		scroll-snap-points-x: repeat(768px);
		/*Chrome and Safari*/
		scroll-snap-type: x mandatory;

		scroll-behavior: auto;
		-webkit-overflow-scrolling: touch;
		scroll-snap-destination: 0 0;
	}
	div.side_list::after{
		display: none;
	}
	div.list_item {  /* show one at a time and scroll */
		width: 100%;
		scroll-snap-align: start;
		flex-shrink: 0;
		display: block;
	}
	div.list_item::after{
		display: none;
	}
	div.list_item:hover::after{
		display: none; }
	div.list_item.selected::after {
		display: none;	}
	div.page_indicator {
		display: inline-block;
	}

	#life_list div.list_item {
		padding-bottom: 0.25em;
		background-image: none;
	}
	
	div.item_display {
		width: 100%; 
		padding-left: 0;
	}
	#experience_display {
		width: 100%; 
		padding-left: 0;
	}
}

/* Mobile landscape */
@media only screen and (max-device-width: 1366px) and (orientation: landscape){
	h1 { 
		font-size:2em; }

	div.modal {
		width: 70%;
		height: 70%;	
		margin: 5% 10% 5% 10%;
		padding-top: 5vh;
	}

	#titleblock, #title_overlay {
		max-height: 100vh; }

	#foreground {
		max-width: 70vw;
	}
	

}

/* Mobile portrait */
@media only screen and (max-device-width: 1360px) and (orientation: portrait){
	div.section_wrapper {	
		width: 80%;
		max-width: 80%;	
		margin-left: auto; 
		margin-right: auto;
		padding-top: 2em; 
		padding-bottom: 2em;
	}

	table, tr, td {
		display: block;
	}
	td.narrow, td.wide, td.med, td.tiny {
		width: 100%;
		margin-right: 0;
	}
	td.wide {
		padding-bottom: 0;
	}
	td.narrow {
		padding-bottom: 1.5em;
	}
	td.right {
		text-align: left;
	}

	div.modal {
		width: 70%;
		height: 85%;	
		margin: 5% 10% 5% 10%;
		padding-top: 5vh;
	}

	#titleblock {
		clip-path: none;
	}

	#aboutme_para {
		position: static;
		-webkit-transform: translateY(0%);
		transform: translateY(0%);
		max-width: none;
		width: 40vw;
	}

	#footer {
		padding-top: 4vh; 
		padding-bottom: 4vh;
	}	
}


/* Mobile portrait- excluding most tablets*/
@media only screen and (max-device-width: 700px) and (orientation: portrait){
	img.single {
		display:block;
		width: 100%;
	}
	img.single.small, img.single.wide {
		display:block;
		width: 100%;
	}
	img.side_by_side {
		display: block;
		float: none;
		margin: 0 auto; 
		margin-bottom: 1em;
		padding: 0;
	}

	img.side_by_side.half {
		width: 85%;
	}
	img.side_by_side.third {
		width: 85%;
	}

	div.card {
		width: 96%;
		overflow: auto;
		height: auto;
		display: block;
	}
	div.card.left {
		clear: none;
	}

	div.card_img {
		max-width: 92%;
		position: static;
		top: 0;

		margin-left: 4%;
		margin-right: 4%;
		margin-bottom: 0.5em;
	}
	div.card_text {
		width: 92%;
		margin-left: 4%;
		float: none;
		display: inline-block;
	}

	#aboutme_para {
		width: 100%;
		position: static;
		-ms-transform: translateY(0);
		transform: translateY(0);
		padding-right: none;
	}
	#aboutme_image {
		display:block;
		width: 100%;
	}
}

/* desktop -  small  */
@media (max-device-width: 1030px){
	div.card {
		width: 98%;
	}
	div.card_img {
		position: static;
		top: 0;
		-webkit-transform: translateY(0%);
		transform: translateY(0%);
		float: left;
	}

}


@viewport {
	width: device-width ;
	zoom: 1.0 ;
}