@import url(https://fonts.googleapis.com/css?family=Pontano+Sans);
@font-face {
    font-family: "Pontano Sans";
    src: "../fonts/PontanoSans-Regular.ttf";
}

/*Style sheet for index.html*/

/*General-------------------------------------------------------------------------------*/
:root{
	--sky-blue: #979aaf; /*#afb3d0;*/
	--dark-blue: #3a3d5f;
	--light-blue: #c5c8e0;
	--flower-yellow: #f3a704;
	--light-yellow: #fad075;
	--pink: #FF9D8B;
	--dark-pink: rgb(235, 96, 71);
}

html {
	scroll-behavior: smooth;
}

/*Text-----------------------------------------------------------------------------*/
body {	
	font-family: "Pontano Sans";
	font-size: 2.8vh;
	color: #000000;
	margin: 0; 
}

header {	
	text-align: center;
	font-size:1.2em;
	color: #FFFFFF; 
	margin-bottom: 4vh; 
}
		
h1 {	
	font-size: 2.8em;
	margin-block-end: 1vw;
	color: #FFFFFF; 
	text-transform: uppercase;
}

h2 {	font-size: 1.7em;
		text-align: left;
		margin-top:0;}

h3 {
	font-size: 1.2em;
	color:black;
	font-weight:bold;
	margin-block-start: 0vh;
	margin-block-end: 0.2em;
}
		
h4 {	
	font-size: 1em;
	color: var(--sky-blue);
	padding-top: 0px;
	padding-bottom: 0px;
	margin-block-start: 0vh;
	margin-block-end: 0vh;
	text-transform: uppercase; 
}

p {	
	margin-block-start: 0;
	margin-block-end: 4vh;	
}

/*Generic containers-----------------------------------------------------------------------------------------------------------*/
div.wrapper {	
	width: 100%;
	max-width: 100%;	
}

div.section_wrapper {	
	width: 70%;
	max-width: 80%;	
	text-align: center;
	margin: 0 auto;
	padding-top: 12vh; 
	padding-bottom: 8vh;
	height:auto;
	overflow:auto;
}

div.blue_background {
	background-color: var(--dark-blue);}
div.blue_background p {
	color: white;}
div.blue_background h2 {
	color: white;}
div.blue_background h4 {
	color: var(--light-blue);
}

div.blue_background li {
	color: white;}
div.blue_background a.intext { 
	box-shadow:
    	inset 0 -0.15em var(--dark-blue),
    	inset 0 -0.4em var(--pink);
	display: inline;
	color: white;
}
div.blue_background a.intext:hover{ 
	box-shadow:
		inset 0 -0.15em var(--dark-blue),
		inset 0 -0.4em var(--dark-pink);
}
/* div.blue_background a.intext:visited {
	color: lightgrey;
} */


div.section_break {
	width:100%;
	height:12vh;
	background-position: 20%;
	background-repeat: no-repeat;
	background-size: cover; 
	position: relative; 
	/* background-attachment: fixed; */
}
div.section_break_solid {
	width:100%;
	height:1vh;
	background-color: var(--light-blue);
	display: none;
}

div.souslined {
	border-bottom: 3px solid white;
}

div.column {
	float: left;
	width: 47.5%;
	text-align: left;
	margin-left: 5%;
}
div.column.first {
	margin-left: 0;
}


div.video_container {
	width: 100%;
	max-width: 35em;
	margin: 0 auto;
	height: 0;
	padding-bottom: 56.25%; /* from aspect ratio of youtube videos*/
	position: relative;
}
iframe.video_embed {
	width: 100%;
	height: 100%;
	position: absolute;
}

iframe.snapwidget-widget {
	border:none; 
	overflow:hidden;  
	width:100%;
	max-width: 35em;
	margin: 0 auto;
	display: block;
}



/*Generic components-----------------------=-------------------------------------------------------------------------*/

/*buttons*/
div.button {	
	display: inline-block;
	cursor: pointer;
	padding-left: 10px;
	padding-right: 10px; 
	padding-top: 5px;
	padding-bottom: 5px;
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;	
}
div.button h4 {
	color: white; }
div.button:hover {	
	background-color: white; }
div.button:hover > h4 {	
	color: #a4a7ae; }


/*Selection lists with display windows to the right*/
div.side_list {
	float: left;
	position: relative;
}
div.side_list::after {
	content: '';
	position: absolute;
	width: 4px;
	background-color: var(--light-blue);
	top: 0;
	bottom: 0;
	left: 100%;
	margin-left: -2px;
}

div.list_item {
	padding-bottom: 0.75em;
	padding-right: 4vh;
	text-align:left;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 85% 50%;
	position: relative;
	left: 0;
}
div.list_item h3 {
	color: var(--light-blue);
	font-weight: normal;
}
div.list_item h4 { 
	font-size: 0.8em; 
	color: var(--light-blue);
}
div.list_item::after {
	content: '';
	position: absolute;
	width: 20px;
	height: 20px;
	right: -10px;
	background-color:var(--light-blue);
	top: 20%;
	border-radius: 50%;
	z-index: 1;
}

div.list_item:hover {
	cursor: pointer; }
div.list_item:hover h3 {
	color: var(--light-blue);
	font-weight: bold; }
div.list_item:hover h4 {
	color: var(--light-blue);
	font-weight: bold; }
div.list_item:hover::after {
	background-color:var(--light-yellow);
	width: 25px;
	height: 25px;
	right: -12.5px;
}

div.list_item.selected h3 {
	color: white;
	font-weight: bold; }
div.list_item.selected h4 {
	color: white;
	font-weight: bold; }
div.list_item.selected::after {
	background-color:var(--flower-yellow);
	width: 25px;
	height: 25px;
	right: -12.5px;
}

div.display {
	float: left;
	text-align:left;
}
div.display_item {
	display: none;
}

/* Mobile-only: Indicator for what item on list is being shown */
div.page_indicator {
	height: 1.5em;
	text-align: left;
	padding-top: 0.5em;
	margin-bottom: 0em;
	display: none; /* only for mobile, see media queries */
}
div.circle {
	vertical-align: top;
	cursor: pointer;
    height: 12px;
    width: 12px;
	margin-right: 8vw;
    background-color: var(--light-blue);
    border-radius: 50%;
    display: inline-block;
}

div.circle.selected {
	background-color: var(--flower-yellow); }



/* Cards */
div.row {
	margin-bottom: 1em;
	display: static;
}
div.card {
	width: 47%;
	text-align: left;
	padding-bottom: 1em;
	margin-bottom: 1em;
	padding-top: 1em;
	min-height: 2em;
	box-shadow: 0px 3px 8px 0px var(--light-blue);
	min-height: 6em;
	vertical-align: center;
}
div.card p {
	margin-block-end: 0;
}
div.card.left {
	float: left;
	display: block;
	margin-left: 1%;
	margin-right: 3%;
	clear: both;
}
div.card.right {
	float: right;
	display: block;
	margin-right: 1%;
}

div.card:hover {
	transform: translateY(-8px);
	transition: transform 0.25s ease-out;
	cursor: pointer;
}

div.card_img {
	width: 30%;
	float: left;
	margin-left: 4%;
	margin-right: 4%;
	display: block;
}
div.card_text {
	width: 58%;
	margin-right: 4%;
	float: right;
	display: block;
}


/* Tables */
table {
	margin-left:auto;
	margin-right:auto;
	width: 100%;
}
 
td {
	padding-bottom: 1em;
	text-align:left;
}
td.wide{
	width: 55%;
	vertical-align:center;
}
td.narrow {
	width: 40%;
}
td.buffer {
	width: 5%;
	padding: 0;
}
td.tiny {
	width: 15%;
}
td.small_buffer {
	width: 2.5%;
}
td.med {
	width: 30%;
}


td.right {
	text-align: right; 
	vertical-align: top;
	padding-right: 1.5em;
}

					
/*Links*/
a {
	color: var(--dark-blue); }

a.intext { 
	text-decoration:none;
	color:black;
	box-shadow:
    	inset 0 -0.15em white,
    	inset 0 -0.4em var(--pink);
	display: inline;
}
a.intext:hover{ 
	font-weight:bold;
	box-shadow:
    	inset 0 -0.15em white,
    	inset 0 -0.4em var(--dark-pink);
}
/* a.intext:visited{
	color: grey;
} */
	

/*Images*/	
img {	
	max-width: 100%; }

img.side_by_side {
	float: left;
	padding-right: 2%;
	padding-bottom: 3vh; 
}
img.side_by_side.half {
		width: 48%; 
}
img.side_by_side.third {
		width: 31%;
}

img.single {
	display:block;
	width: 20vw;
	max-width: 350px;
	margin: 0 auto;
}



/* Lists */
ul {
	/* list-style-position: outside; */
	list-style-type: none;
	margin-left: 0em;
	margin-top: -0.5em;
	padding-left: 2em;
	margin-block-end: 1.5em;
}
li {
	margin-bottom: 0.3em;
}
li:before { 
	content: "\00a0 \00a0 \00a0 -";
	display: inline-block;
	width: 2em;
	margin-left: -2em;
}



/*Page elements-------------------------------------------------------------------------------------------------------------*/

/*Menu*/ 
#sidebar{
	position: fixed;
	z-index:100; 
	right:0;
	text-align:right;
	padding-right:1em;
	padding-top:1em; 
}

div.button.menu_button {
	background-color: var(--sky-blue); 
	border-style:none; }
div.button.menu_button:hover {
	background-color: white;	}
div.button.menu_button:hover >h4 {
	color: var(--sky-blue);	}

#nav_menu {  /* actual nav menu element*/
	height: 0; /*changes with JS */
	overflow-y: hidden;
	transition: height 0.2s ease-out;
	text-align:right; 
}
div.button.menu_button.option {
	float:right;
	clear:both;
	margin-top:0.2em; 
}


/* Header */
#titleblock { 
	height: 95vh;	
	background-image: url("../images/porch-3.jpg");
	background-attachment: fixed;
	text-align: center;
	clip-path: polygon(0% 0%, 100% 0%, 100% 96%, 52% 96%, 50% 100%, 48% 96%, 0% 96%);

}
#overlay {
	position: absolute;
	display: block;
	width: 100%;
	height: 95vh;
	background-color: rgba(0,0,0,0.2);
	z-index: 2; 
}
#titleblock p {
	text-transform: uppercase;
	margin-block-start: 3vh;
	margin-block-end: 1vh;
}

#foreground {	
	position: absolute;
	width: 50%;
	min-width: 60vh;
	max-width: 70vh;
	margin: 0 auto;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}


/*About me*/

#about {
	vertical-align: center;
	position: relative;
}
#aboutme_para {
	display: block;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	float: left;
	margin: auto 0;

	width:30vw;
	max-width: 400px;

	padding-right: 6vw;
	text-align: left;
}
#aboutme_image {
	width: 30vw;
	max-width: 350px;
	right: 0;
	float: right;
}



/* Break 1 */
#break_1{
	background-image: url("../images/yellow_flowers.jpg");
}


/* Experience */
#experience_section {
	text-align: left;
}

#experience_list {
	width: 32%;	
	margin-right: 5%; }
#experience_display {
	padding-top: 0.5em; 
	/* padding: 1.5em 4% 1em 4%; */
	padding-left: 2%;
	border-width: 4px; 
	border-color: var(--light-blue);
	width:55%; 
	/* background-color: #c5c8e028; */
}

#camp_img {
	display: block;
	width: 45%;
	height: auto;
	margin: 0 auto;
}


/* Break 2 */
#break_2{
	background-image: url("../images/tree-cropped.jpg");
}


/* Projects */

#project_table td {
	vertical-align: top;
}

/* Break 3 */
#break_3{
	background-image: url("../images/bike.jpg");
}


/*Skills*/



/*Life*/

#life h3 {
	margin-block-end: 0.5em;
}


/* Break 4 */
#break_4 {
	background-image: url("../images/whiteflower_sky.jpg");
}



/*Page footer*/
#footer{
	padding:5%;
	text-align:center;
	margin:0 auto;
}
#footer h2 {
	text-align: center;
	font-size: 7vh;
	margin-block-end: 3vh;
}
#footer p {
	margin-block-end: 4vh;
}

img.logo {
	display:inline-block;
	width:40px;
	margin-top:10px;
	margin-right:10px;
}
img.logo:hover {
	transform: translateY(-4px);
	transition: transform 0.2s ease-out;
}


/*Media queries  - override properties on mobile --------------------------------------------------------*/

/* Mobile in general */
@media only screen and (max-device-width: 1366px) {
	body {
		font-size: 20px;	}
	h1 {
		font-size:2.5em;	}
	div.section_break {
	  background-attachment: scroll;
	  height: 50px;
	}

	#foreground {
		width: 80%;
		min-width: 0;
		max-width: none;
	}

	#aboutme_para {
		padding-top:0;
		/* padding-right: 0; */
	}
}

/* Mobile - excluding most tablets */
@media only screen and (max-device-width: 850px){
	div.button.menu_button.option { 
		/*show menu buttons across the top so they don't cover content*/
		float:none;
		clear:none;
		margin-top:0.2em; 
	}
	
	div.side_list, #experience_list {
		width: 94%; 
		display: flex;
		overflow-x: auto;
		scroll-snap-type: x mandatory;
		scroll-behavior: smooth;
		-webkit-overflow-scrolling: touch;
	}
	div.side_list::after{
		display: none;
	}
	div.list_item {  /* show one at a time and scroll */
		scroll-snap-align: start;
		flex-shrink: 0;
		width: 100%;
		margin-right: 50px;
		transition: transform 0.3s;
		position: relative;
		display: block;
	}
	div.list_item::after{
		display: none;
	}
	div.list_item:hover::after{
		display: none; }
	div.list_item.selected::after {
		display: none;	}
	div.page_indicator {
		display: inline-block;
	}

	#life_list div.list_item {
		padding-bottom: 0.25em;
		background-image: none;
	}
	
	div.item_display {
		width: 100%; 
		padding-left: 0;
	}
	#experience_display {
		width: 100%; 
		padding-left: 0;
	}
}

/* Mobile landscape */
@media only screen and (max-device-width: 1366px) and (orientation: landscape){
	h1 { 
		font-size:2em; }
	#titleblock, #overlay {
		max-height: 100vh; }

	/* table, tr, td {
		display: block;
	} */
	/* td.med {
		width: 75%;
	}
	td.tiny {
		width: 20%;

	}
	td.small_buffer {
		width: 5%;
	} */

}

/* Mobile portrait */
@media only screen and (max-device-width: 1360px) and (orientation: portrait){
	div.section_wrapper {	
		width: 80%;
		max-width: 80%;	
		margin-left: auto; 
		margin-right: auto;
		padding-top: 2em; 
		padding-bottom: 2em;
	}

	table, tr, td {
		display: block;
	}
	td.narrow, td.wide, td.med, td.tiny {
		width: 100%;
		margin-right: 0;
	}
	td.wide {
		padding-bottom: 0;
	}
	td.narrow {
		padding-bottom: 1.5em;
	}
	td.right {
		text-align: left;
	}

	div.column {
		width: 100%;
	}

	#titleblock {
		clip-path: none;
	}

	#about {
		position: static;
	}
	#aboutme_para {
		width: 100%;
		position: static;
		-ms-transform: translateY(0);
		transform: translateY(0);
	}

	#footer {
		padding-top: 4vh; 
		padding-bottom: 4vh;
	}	
}


/* Mobile portrait- excluding most tablets*/
@media only screen and (max-device-width: 700px) and (orientation: portrait){
	#aboutme_para {
		display:block;
		width:100%;
		padding-right: none;
	}
	#aboutme_image {
		display:block;
		width: 100%;
	}
	img.single {
		display:block;
		width: 100%;
	}
	img.side_by_side {
		display: block;
		float: none;
		margin: 0 auto; 
		margin-bottom: 1em;
		padding: 0;
	}

	img.side_by_side.half {
		width: 85%;
	}
	img.side_by_side.third {
		width: 85%;
	}

	div.card_img {
		width: 92%;
		float: none;
		margin-left: 4%;
		margin-right: 4%;
		margin-bottom: 0.5em;
	}
	div.card_text {
		width: 92%;
		margin-left: 4%;
		float: none;
	}
}

/* desktop -  small  */
@media (max-device-width: 1000px){
	div.card {
		width: 98%;
	}
}


@viewport {
	width: device-width ;
	zoom: 1.0 ;
}